
.particle--list {
  padding-top: 10px;
  overflow: hidden;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.particle--item {
  display: flex;
  width: 90px;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.particle--icon {
  line-height: 18px;
  text-align:center;
  width: 100%;
  font-size: 38px;
  justify-content:center;
}

.particle--nickname {
  display: flex;
  font-size: 14px;
}